node_modules/
!/__fixtures__/local-deps-cycle/packages/package-one/node_modules/
dist/
*.log
.cache
public
scratchings.js

# Yarn - https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
