node_modules/
!/__fixtures__/local-deps-cycle/packages/package-one/node_modules/
dist/
*.log
.cache
public
scratchings.js

# rust RLS adds these, not needed in fixtures
__fixtures__/**/target
__fixtures__/**/Cargo.lock
